<html>
<head>
  <meta charset="utf-8">
  <title>Web由来の組み込みエンジニアの半年間のすべて 〜WebとiOSとBLEとハードウェアデバイスのこと〜</title>
  <link rel="stylesheet" href="./dist/talkie.min.css">
  <link rel="stylesheet" href="./dist/talkie-default.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/monokai_sublime.min.css">
</head>
<body>

<!-- put your slides -->

<%= html %>

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
<script src="./dist/talkie.js"></script>
<script>
var talkie = Talkie({wide: false});

talkie.next.plug(talkie.control.keydown('s'));
talkie.next.plug(talkie.control.keydown('n'));
talkie.prev.plug(talkie.control.keydown('a'));
talkie.prev.plug(talkie.control.keydown('p'));

document.addEventListener('DOMContentLoaded', function() {
  var slides = Array.prototype.slice.call(document.querySelectorAll('[layout]'));
  talkie.changed.onValue(function(current) {
    console.clear();
    // print presenter notes
    console.info(talkie.notes[current.getAttribute('page')]);
  });
});
</script>
</body>
</html>
